{% extends 'base.html' %}
{% block title %}
    <title>login</title>
{% endblock %}

{% block content %}
    <div class = "container">
        <h1><center>LOGIN FORM</center></h1>
        <form method="post">
            {% csrf_token %}
            Username:<input type="text" name="unm" class="form-control">
            <br><br>
            Password:<input type="password" name="pwd" class="form-control">
            <br><br>
            <input type="submit" class="btn btn-success">
            <input type="reset" class="btn btn-warning">
        </form>
    </div>
{% endblock %}